/* Reset box model and padding */
*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Set default body styles */
body {
    font-family: Arial, sans-serif;
    font-size: 16px;
    line-height: 1.5;
    color: #333;
    background-color: #f8f9fa;
    margin: 0;
}

h1 {
    font-size: 2.5rem;
}

h2 {
    font-size: 2rem;
}

h3 {
    font-size: 1.75rem;
}

/* Basic link styles */
a {
    color: #007bff;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

/* Responsive image */
img {
    max-width: 100%;
    height: auto;
}

/*
* From here
*/
#nav {
    background-color: #343a40;
    color: #fff;
    padding: 20px;
    text-align: center;
}

#main-area {
    display: flex;
    justify-content: space-between;
    padding: 20px;
    max-width: 1200px;
    margin: 0 auto;
}
/* #main-area > #controlls {


} */

#controlls {
    background-color: #fff;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    padding: 20px;
    width: 30%;
    border-radius: 8px;
}

#controlls h2 {
    margin-bottom: 20px;
    font-size: 24px !important;
}
.control-section {
    margin-bottom: 20px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}
label {
    display: block;
    font-weight: bold;
    margin-bottom: 5px;
}

#main-area > #canvas {
    flex-grow: 2;

}

#board {
    display: flex;
    background-color: #e9ecef;
    width: fit-content;
    border-radius: 10px;
    overflow: hidden;
}


#board > div > div
{
    transition: background-color 0.9s ease;
}

/* #board >div:hover{
    background-color: #adb5bd;
} */


